<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mdickson972.programmingjava"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="23" />
        
        
    <uses-permission android:name="android.permission.WAKE_LOCK" /> 
    
    <uses-permission android:name="android.permission.INTERNET" />
    
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:icon="@drawable/javability_main_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- Login Screen Settings -->
        <activity
            android:name="com.mdickson972.androidActivities.LoginScreen"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Registration Screen Settings -->
        <activity
            android:name="com.mdickson972.androidActivities.RegistrationScreen"
            android:screenOrientation="portrait"
            android:label="@string/reg_title"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        
        <!-- Forgot Password Screen Settings -->
        <activity 
            android:name="com.mdickson972.androidActivities.ForgotPasswordScreen"
            android:screenOrientation="portrait"
            android:label="@string/forgot_password_title"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        
        <!-- User Details Screen Settings -->
        <activity 
            android:name="com.mdickson972.androidActivities.UserDetailsScreen"
            android:screenOrientation="portrait"
            android:label="@string/forgot_password_title"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        
        <!-- Main Menu Screen Settings -->
        <activity
            android:name="com.mdickson972.androidActivities.MainMenuScreen"
            android:screenOrientation="portrait"
            android:label="@string/MM_title"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        
        <!-- Java 101 Topic Menu Screen Settings -->
        <activity
            android:name="com.mdickson972.androidActivities.Java101MenuScreen"
            android:screenOrientation="portrait"
            android:label="@string/MM_intro"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        
        <!-- Loops Topic Menu Screen Settings -->
        <activity
            android:name="com.mdickson972.androidActivities.LoopsMenuScreen"
            android:screenOrientation="portrait"
            android:label="@string/MM_loops"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        
        <!-- Lesson Screen Settings -->
        <activity
            android:name="com.mdickson972.androidActivities.LessonScreen"
            android:screenOrientation="portrait"
            android:label="@string/lesson_title"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        
        <!-- Assessment Screen Settings -->
        <activity
            android:name="com.mdickson972.androidActivities.AssessmentScreen"
            android:screenOrientation="portrait"
            android:label="@string/assessment_title"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:hardwareAccelerated="false">
        </activity>
        
        <!-- Results Screen Settings -->
        <activity
            android:name="com.mdickson972.androidActivities.AssessmentResultsScreen"
            android:screenOrientation="portrait"
            android:label="@string/results_title"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:hardwareAccelerated="false">
        </activity>
        
        <!-- Overall Progress Screen Settings -->
        <activity
            android:name="com.mdickson972.androidActivities.OverallProgressScreen"
            android:screenOrientation="portrait"
            android:label="@string/MM_overall_progress"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        
        <!-- Topic Results Screen Settings -->
        <activity
            android:name="com.mdickson972.androidActivities.TopicResultsScreen"
            android:screenOrientation="portrait"
            android:label="@string/MM_overall_progress"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        
        <!-- Coming Soon Screen Settings -->
        <activity
            android:name="com.mdickson972.androidActivities.ComingSoonScreen"
            android:screenOrientation="portrait"
            android:label="@string/coming_title"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:hardwareAccelerated="false">
        </activity>
        
    </application>

</manifest>
